<div class="linkslist">
  <p class="asidetitle"><%= __('友情链接') %></p>
    <ul>
      <li><a href="http://coolshell.cn/" title="酷壳" target="_blank">酷壳</a></li>
      <li><a href="http://www.ruanyifeng.com/" title="阮一峰的个人网站" target="_blank">阮一峰的个人网站</a></li>
      <li><a href="http://roclinux.cn/" title="Linux大棚" target="_blank">Linux大棚</a></li>
      <li><a href="http://www.yangzhiping.com/" title="阳志平的网志" target="_blank">阳志平的网志</a></li>
      <li><a href="http://www.zreading.cn/" title="左岸读书" target="_blank">左岸读书</a></li>
      <li><a href="http://news.dbanotes.net/" title="Startup News" target="_blank">Startup News</a></li>
      <li><a href="http://www.redwolf-blog.com/" title="红狼博客" target="_blank">红狼博客</a></li>
    </ul>
</div>
